<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wx.movie.data.dao.mapper.user.UserAttentionMapper">
  <resultMap id="BaseResultMap" type="com.wx.movie.data.dao.entity.user.UserAttention">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="u_id" jdbcType="INTEGER" property="uid" />
    <result column="movie_no" jdbcType="VARCHAR" property="movieNo" />
    <result column="operate_time" jdbcType="TIMESTAMP" property="operateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, u_id, movie_no, operate_time
  </sql>
  <select id="selectByOperateTime"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_attention
    where  operate_time  >= #{operateTime,jdbcType=TIMESTAMP} 
  </select>
  
</mapper>