<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wx.movie.data.dao.mapper.user.UsersMapper">
  <resultMap id="BaseResultMap" type="com.wx.movie.data.dao.entity.user.Users">

    <id column="uid" jdbcType="INTEGER" property="uid" />
    <result column="mobileNo" jdbcType="VARCHAR" property="mobileno" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="openId" jdbcType="VARCHAR" property="openid" />
    <result column="nikeName" jdbcType="VARCHAR" property="nikename" />
    <result column="photo" jdbcType="VARCHAR" property="photo" />
    <result column="unionId" jdbcType="VARCHAR" property="unionid" />
    <result column="otherId" jdbcType="INTEGER" property="otherid" />
    <result column="platForm" jdbcType="BIT" property="platform" />
    <result column="isDel" jdbcType="BIT" property="isdel" />
  </resultMap>
  <sql id="Base_Column_List">
    uid, mobileNo, password, openId, nikeName, photo, unionId, otherId, platForm, isDel
  </sql>
  	<!-- 查询所有用户 -->
	<select id="selectAllUser" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_users
	</select>
	<!-- 根据uid范围查询用户 -->
	<select id="selectGreaterThanUid" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_users where uid > #{uid,jdbcType=INTEGER}}
	</select>
  
</mapper>