<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wx.movie.data.dao.mapper.user.UserLikeMapper">
  <resultMap id="BaseResultMap" type="com.wx.movie.data.dao.entity.user.UserLike">
   
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="u_id" jdbcType="INTEGER" property="uid" />
    <result column="movie_no" jdbcType="VARCHAR" property="movieNo" />
    <result column="operate_time" jdbcType="TIMESTAMP" property="operateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, u_id, movie_no, operate_time
  </sql>
  <!-- 查询出用户uid喜欢影片的列表
  其中需要以operate_tine升序排序，目的为了下次从数据库查询时只查比最后一次插入记录时间还要后的数据 -->
  <select id="selectByUidAdOperTime"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_like
    where u_id = #{uid,jdbcType=INTEGER}
    <if test="operateTime != null" >
     AND  operate_time > #{operateTime,jdbcType=TIMESTAMP}
    </if>
order by operate_time
  </select>
</mapper>